[Desktop Entry]

# The type of the thing this desktop file refers to (e.g. can be Link)
Type=Application

# The application name.
Name=PasswordManager

# Tooltip comment to show in menus.
Comment=Password Manager application to safely store passwords.

# The path (folder) in which the executable is run
Path=/opt/PasswordManager

# The executable (can include arguments)
Exec=/opt/PasswordManager/PasswordManager

# The icon for the entry, using the name from `hicolor/scalable` without the extension.
# You can also use a full path to a file in /opt.
Icon=password-manager-lock